@define-color backgroundColor #1A1B26;
@define-color textColor #C0CAF5;
@define-color textColor1 #7AA2F7;
@define-color textColor2 #1A1B26;
@define-color borderColor #7AA2F7;

@define-color batteryCharginColor #73DACA;
@define-color batteryCriticalColor #DB4B4B;
@define-color batteryBlinkColor #FF9E64;

@define-color networkDisconnectedColor #DB4B4B;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "JetBrainsMono NF SemiBold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0);
    border-bottom: 0px solid @borderColor;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Standard format
 * ----------------------------------------------------- */

#window,
#clock,
#pulseaudio,
#network,
#network.wifi,
#bluetooth,
#battery,
#custom-exit {
  background: @backgroundColor;
  color: @textColor;
  border-radius: 5px;
  border: 2px solid @borderColor;
  font-size: 15px;
  font-weight: normal;
  margin: 5px 1px;
  padding: 0px 10px;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

window#waybar.empty #window {
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    border: none;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

 #workspaces {
    margin: 5px 1px 5px 2px;
    font-size: 15px;
}

#workspaces button {
    padding: 0px 3px;
    margin: 0px 1px;
    border: 0px;
    color: @textColor;
    transition: all 0.1s ease-in-out;
}

#workspaces button.active {
    background: @backgroundColor;
    min-width: 16px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    border: 2px solid @borderColor;
}

#workspaces button:hover {
    color: @textColor1;
    background: none;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network.disconnected {
    background: @networkDisconnectedColor;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,#memory,#cpu {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: @textColor;
}

#disk {
    margin-right: 10px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
  padding: 0px 3px 0px 0px;
  min-width: 25px; 
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  font-weight: bold; 
}

#battery.charging, #battery.plugged {
    color: @textColor2;
    background: @batteryCharginColor;
}

@keyframes blink {
    to {
        background-color: @batteryBlinkColor;
    }
}

#battery.critical:not(.charging) {
    background-color: @batteryCriticalColor;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

 tooltip {
    border-radius: 5px;
    color: @textColor;
    background: @backgroundColor;
    border: 2px solid @borderColor;
    opacity: 0.9;
    padding: 20px;
    margin: 0px;
}

tooltip label {
    color: @textColor;
}
